<!doctype html>

<html>
<head>
  <title>Copernican Solutions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/homepage.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/logo.ico" >

</head>

<body>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation">
    <div class="container-fluid container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        
        <a class="navbar-brand navbar-left" href="#">COPERNICAN SOLUTIONS
          <img class="restricted_small" src="/images/small_logo.png"></img></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#mission">Mission</a></li>
          <li><a href="/#product">Our Method</a></li>
          <li><a href="/#team">Our Team</a></li>
          <li><a href="/#clients">Our Clients</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="big_wrapper" id="home">
    <div class="center vertcenter">
      <img class="restricted" src = "/images/logo.png"></img>
      <h1>“Innovative solutions for <div class="bold">your</div> next revolution”</h1>
    </div>
  </div>

  <div class="big_wrapper salmon" id="mission">
      <div class="container">
      <h1 class="center">OUR MISSION</h1>

    
      <h2 class="center">We provide <div class="bold">innovative strategies</div> to promote the <div class="bold">improvement and growth </div>of startup companies.</h2>
    </div>
  </div>

  <div class="big_wrapper center" id="product">
    <h1 class="center">OUR METHOD</h1>
    <div class="inner">
      <img src = "/images/process.png"></img>
    </div>
  </div>




</div>

<div class="big_wrapper blue" id="team">
  <div class="container">
    <h1 class="center">OUR TEAM</h1>
    <div>
    <table>
    <tr>
       <td><img class="team-photo" src="/images/Team/Phil.jpg"></img></td>
       <td><img class="team-photo" src="/images/Team/Rajiv.jpg"></img></td>
       <td><img class="team-photo" src="/images/Team/Lea.jpg"></td>
       <td></td>
    </tr>
    <tr>
       <td>Phil Brady<br> Founder & CEO</td>
       <td>Rajiv Suresh <br> Co-Founder & COO</td>
       <td>Lea Zhang <br> Executive VP</td>
       <td></td>
    </tr>
    <tr>
       <td><img class="team-photo" src="/images/Team/Keyur.jpg"></td>
       <td><img class="team-photo" src="/images/Team/Sylvia.jpg"></td>
       <td><img class="team-photo" src="/images/Team/Marten.jpeg"></td>
       <td><img class="team-photo" src="/images/Team/Vikram.jpg"></td>
    </tr>
    <tr>
       <td>Keyur Mehta <br> Business Analyst</td>
       <td>Sylvia Yang <br> Business Analyst</td>
       <td>Marten Lai <br> Business Analyst</td>
       <td>Vikram Prasad <br> Business Analyst</td>
    </tr>
  </table>
</div>



</div>
</div>

<div class="big_wrapper salmon" id="clients">
  <div class= "middle">
  <h1 class="center">OUR CLIENTS</h1>
  <br><br><br>
  <div class="center">
    <a href="http://www.beiz.com"><img class="clogo" src="/images/BeIZ.png"></img></a>
    <a href=" http://www.butterfleye.co/#about"><img class="clogo" src="/images/butterfleye.png"></img></a>
    <a href="http://www.colltures.com"><img class="clogo" src="/images/Colltures.png"></img></a>
    <a href="http://www.ilumi.co/#magic"><img class="clogo" src="/images/ilumi.png"></img></a>
  </div>
</div>

</div>

<div class="big_wrapper" id="contact">
  <table>
    <tr>
      <td>
        <div id="contact-text">
          <h2>Let’s move forward and get you to your next revolution </h2>
        </div>
      </td>
      <td rowspan="2">


        <div class="col-m-6">
         <!-- Form itself -->
         <form name="sentMessage" class="well" id="contactForm"  novalidate>
           <legend>Contact Us</legend>
           <div class="control-group">
            <div class="controls">
              <input type="text" class="form-control" 
              placeholder="Full Name" id="name" required
              data-validation-required-message="Please enter your name" />
              <p class="help-block"></p>
            </div>
          </div>   
          <div class="control-group">
            <div class="controls">
              <input type="email" class="form-control" placeholder="Email" 
              id="email" required
              data-validation-required-message="Please enter your email" />
            </div>
          </div>  

          <div class="control-group">
           <div class="controls">
             <textarea rows="10" cols="100" class="form-control" 
             placeholder="Message" id="message" required
             data-validation-required-message="Please enter your message" minlength="5" 
             data-validation-minlength-message="Min 5 characters" 
             maxlength="999" style="resize:none"></textarea>
           </div>
         </div>      
         <div id="success"> </div> <!-- For success/fail messages -->
         <button type="submit" class="btn btn-primary pull-right">Send</button><br />
       </form>
     </div>
   </td>
 </tr>

 <tr>
  <td>
    <a class="inline" href="http://www.linkedin.com/company/copernican-solutions-llc"><i class="fa fa-linkedin-square fa-4x"></i></a>
    <a class="inline" href="http://www.facebook.com/blahblah"><i class="fa fa-facebook-square fa-4x"></i></a>
    <a class="inline" href="http://www.twitter.com/blahblah"><i class="fa fa-twitter-square fa-4x"></i></a>
    <a class="inline" href="docs/CopernicanSolutions_MediaDeck.pptx"><i class="fa fa-download fa-4x"></i></a>

  </td>
 </tr>
</table>
</div>



<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>


</body>
</html>
